/* Arquivo de CSS */

@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito-Black.ttf);
  src: url(./fonts/Nunito-BlackItalic.ttf);
  src: url(./fonts/Nunito-Bold.ttf);
  src: url(./fonts/Nunito-BoldItalic.ttf);
  src: url(./fonts/Nunito-ExtraBold.ttf);
  src: url(./fonts/Nunito-ExtraBoldItalic.ttf);
  src: url(./fonts/Nunito-ExtraLight.ttf);
  src: url(./fonts/Nunito-ExtraLightItalic.ttf);
  src: url(./fonts/Nunito-Italic.ttf);
  src: url(./fonts/Nunito-Light.ttf);
  src: url(./fonts/Nunito-LightItalic.ttf);
  src: url(./fonts/Nunito-Regular.ttf);
  src: url(./fonts/Nunito-SemiBold.ttf);
  src: url(./fonts/Nunito-SemiBoldItalic.ttf);
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#menu .links,
#menu .links a {
  display: flex;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#menu .links a:hover {
  color: #ff5929;
}

#menu .links a img {
  padding-right: 10px;
}

#inicio {
  text-align: Center;
}

.logo {
  width: 60px;
}

#minhas_viagens {
  text-align: center;
}
#minha_conta {
  text-align: center;
}
#busca_voo {
  display: flex;
  justify-content: space-between;
  padding: 0;

  background-color: #ffffff;
  border-radius: 25px;
  margin: 30px;
  min-width: 300px;
}

#ocupantes > div {
  background-color: #eff1f8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 15px;
}
#ocupantes > div p {
  margin: 0;
}

#aeroportos,
#ocupantes,
#data {
  min-width: 200px;
  display: block;
  justify-content: center;
  padding: 20px 0;
}
#data {
  padding-right: 30px;
}
#partida {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  background-image: url("./img/icon/iconVoo.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 5px;
  width: 100%;
  padding-left: 35px;
  border: none;
}
#destino {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  background-image: url("./img/icon/iconPouso.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 5px;
  width: 100%;
  padding-left: 35px;
  border: none;
}
form {
  display: flex;
  flex-direction: row;
  padding: 2px;
  align-items: center;
  background-color: #eff1f8;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
.add_remove {
  display: flex;
  justify-content: flex-end;
}
.botao_add_crianca,
.botao_remove_crianca,
.botao_add_adulto,
.botao_remove_adulto {
  margin-right: 3px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ffa251;
  height: 30px;
  min-width: 30px;
  max-width: 30px;
}
#adultos {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding-left: 30px;
  background-image: url("./img/adultos.png");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

#criancas {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding-left: 30px;
  background-image: url("./img/criancas.png");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
#data_ida,
#data_volta {
  margin-bottom: 10px;
  border: none;
  width: 100%;
}

#buscar {
  width: 100%;
  height: 30px;
  background-color: #ffa251;
  border-radius: 5px;
  color: #eff1f8;
  border: none;
}
#vue-app {
  margin: 0;
  min-width: 100%;
}
#imgbusca {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  padding-left: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*MINHAS VIAGENS*/
#painel_minhas_viagens {
  padding-top: 80px;
  justify-content: center;
  align-items: center;
}
#texto_painel {
  font-size: 30px;
}
#minhas_viagens_img {
  padding: 0 80px;
  max-height: 200px;
}
#sem_viagem {
  display: block;
  justify-content: center;
  text-align: center;
}
#iniciobtn {
  width: 300px;
  height: 40px;
  background-color: #ffa251;
  border-radius: 5px;
  color: #eff1f8;
  border: none;
}
/*MINHA CONTA*/
#minha_conta_img {
  padding-left: 80px;
  max-height: 200px;
}
#painel_conta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.edit-area{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 3px; */
}
.pencil-edit{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.my-account{
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  margin-right: 60px;
}
.logout-div{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.delete{
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.pensil-div{
  position: absolute;
  right: 75px;
  margin-bottom: 40px;
}
.logout{
  color: rgb(78, 2, 2);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
#dados {
  margin-right: 60px;
  padding: 30px;
  padding-left: 50px;
  display: block;
  justify-content: space-around;
  background-color: #e7ebeb;
  border-radius: 15px;
  width: 600px;
  box-shadow: 2px 3px 3px rgb(82, 81, 81);
}
header {
  font-family: Nunito;
  background-color: #ffffff;
}
body {
  font-family: Nunito;
  background: rgb(243 243 243);
}
footer {
  font-family: Nunito;
}
h1 {
  margin: 20px;
  text-align: center;
  color: #333333;
}
h3 {
  padding-left: 60px;
}
h4 {
  padding-left: 80px;
  font-size: 20px;
}
a {
  color: #333333;
  text-align: center;
}
input {
  background-color: #eff1f8;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
}

.div-imgs{
  display: flex;
  padding: 60px;
  align-items: center;
  justify-content: space-evenly;
  /* width: 100%; */
}

.arrow-right{
  float: right;
  right: 1000px;
}

.img-edit{
  width: 150px;
  height: 150px;
  /* margin-left: 50px; */
  border-radius: 10px;
}
